/* VARIABLES */
/* BASE */
html,


body , input[type=submit] {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  line-height: 1.4;
  height: 100%;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F9FAFF;
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
}
.simpleButton{
  border: none;
  text-decoration: none;
  color: inherit;
  background: none;
}

.container {
  overflow: hidden;
  *zoom: 1;
  margin: 0 20px;
}

.site-content {
  padding-top: 66px;
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  height: 66px;
  line-height: 66px;
  color: #fff;
  /*background-color: #302b63;*/
  background-color: #109576;
  
  font-size: 110%;
}
  .header__logo__Mob {
  display: none;
}

.header__logo__Pc {
  display: inline-block;
  font-weight: 700;
  padding: 0 25px;
  float: right;
}

img{
  padding-top: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* MENU */
.menu  , .formNav{
  float: left;
}
  
.menu a , .menu input[type=submit] {
  padding: 0 10px;
  margin-left: 10px;

}
.menu a:hover , .menu input[type=submit]:hover{
  /*color: #FFE77AFF;*/
  color: hotpink;
  color:#05386b;
font-size: 120%;
  font-weight: bold;
}

/*here*/
.aa {
  text-decoration: none;
  color: inherit;
}
.menu .aa {
  padding: 0 10px;
}
.menu .aa:hover {
  color: #c5cae9;
  font-weight: bold;
}

a:hover{
  color: hotpink;

}

button {
  width: 30%;
  padding: 40px;
  font-size: 150%;
  background: #55D3AC;
  
  color: #fff;
  border: none;
  border-radius: 75px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15%;
  margin-left: 12.5%;
  transition: background 0.2s ease-out;
  box-shadow: 0 0 35px 0 rgba(42, 45, 48, 0.12);
}

button:hover {
  
   font-weight: bold;
   color:#042e58;
   font-size: 160%;
}

button:active{
  background-color: #2cfcbc;
   font-weight: bold;
}
.nonClick{
      pointer-events: none;
    }
/*end*/


/* RESPONSIVE */
@media only screen and (max-width: 840px) {
  .site-pusher,
  .site-container {
    height: 100%;
  }
  

  img{
  padding-top: 35%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

  .site-container {
    overflow: hidden;
  }

  .site-pusher {
    transition-duration: 0.3s;
    transform: translateX(0px);
  }

  .site-content {
    position: absolute;
    top: 66px;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .header {
    position: static;
    font-size: 110%;
  }
  .header__logo__Pc {
  display: none;
}

  .header__logo__Mob {
  display: inline-block;
  font-weight: 700;
  padding: 0 0px;
  float: left;
}


  .header__icon {
    position: relative;
    display: block;
    float: left;
    width: 50px;
    height: 66px;
    cursor: pointer;
  }
  .header__icon:after {
    content: '';
    position: absolute;
    display: block;
    width: 1rem;
    height: 0;
    top: 16px;
    left: 15px;
    box-shadow: 0 10px 0 1px #fff, 0 16px 0 1px #fff, 0 22px 0 1px #fff;
  }
 
  .menu  {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #11a07e;
       /* overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 250px;
    transform: translateX(-250px);
  }
  .formNav{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #11a07e;

       /* overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    width: 250px;
  }
  .menu input[type=submit] {
    width: 100%;
    
  }
  .menu a, .menu input[type=submit] {
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #11a07e;
    margin-left: 0;
  }


  .with--sidebar .site-pusher {
    transform: translateX(250px);
  }
  .with--sidebar .site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
button {
  width: 95%;
  padding: 40px;
  font-size: 150%;
  background: #15C39A;
  float: left;
  color: #fff;
  border: none;
  border-radius: 55px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 22.5%;
  margin-left: 50%;
  transform: translate(-50%,-0%);
  transition: background 0.2s ease-out;
  box-shadow: 0 0 50px 0 rgba(42, 45, 48, 0.12);
}

button:hover {
  color:#042e58;
  font-weight: bold;
  font-size: 160%;
}
button:active{
background-color: #2cfcbc;

  font-weight: bold;

}

}