body{
	background: url(Images/index.jpeg);
	background-position: center;
	padding: 0;
	margin: 0;
}
.navbar{ 
	margin: 0;
	border: 1px solid crimson;
	height: 66px;
	text-align: center;
	background-color: crimson;
}
li {
	border-radius: 2px;
	background-color: rgb(255, 255, 255);
	margin: 0 8px;
	float: left;
	list-style-type: none;
}

a {
	display: block;
	padding: 8px;
	text-decoration: none;
}
.main{
	background-color: rgb(255, 255, 255);
	width: 400px;
	border: 3px solid rgb(58, 223, 25);
	padding: 10px 20px;
	margin: 150px auto;
	border-radius: 30px;
	text-align: center;
}