@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
 
  background: #f9faff;
  color: #3a3c47;
  
}

h1 {
  text-align: center;
}

form {
  background: #fff;
  max-width: 320px;
  width: 90%;
  padding: 2px 24px;
  border: 1px solid ##e1e2f0;
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.row {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}
.Signup {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
}

.row label {
  font-size: 13px;
  color: #8086a9;
}

.row input {
  flex: 1;
  padding: 13px;
  border: 1px solid #d6d8e6;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.2s ease-out;
}

.row input:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px 0 rgba(42, 45, 48, 0.12);
}

.row input::placeholder {
  color: #C8CDDF;
}

input[type=submit]{
  padding: 11px;
  font-size: 125%;
  margin-bottom: 18px;
}
.button {
  width: 100%;
  padding: 20px;
  font-size: 150%;
  background: #55D3AC;
  
  color: #fff;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  transition: background 0.2s ease-out;
}

.button:hover {
  background: #15C39A;
  font-weight: bold;
}

p{
  font-size: 100%;
  color: black;
  font-weight: bold;
}

.sign{
  color: #1fb5a4;
  font-weight: bold;
}
.sign:hover{
  color:hotpink;

}

@media(max-width: 458px) {
  
  body {
    background: #f9faff;
  color: #3a3c47;
  
  }
  
  form {
     background: #fff;
  width: 260px;
  padding: 8px 24px;
  border: 1px solid ##e1e2f0;
  border-radius: 20px;
  box-shadow: 0 0 25px 0 rgba(42, 45, 48, 0.12);
  transition: all 0.3s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  }

}